html,
body {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/* Hamburger Menu With Animation - Start */
.ham_nav_btn {
  border: none;
  background: none;
  cursor: pointer;
}

.hamburger {
  width: 40px;
  height: 40px;
}

.hamburger__bar {
  transition-property: transform;
  transition-duration: 0.3s;
  transform-origin: center;
  stroke: rgb(0, 0, 0);
  stroke-width: 15%;
  /* fill: rgb(0, 0, 0); */
}

.hamburger__bar_top {
  transform: translateY(-40%);
}

.hamburger__bar_bot {
  transform: translateY(40%);
}

.is-opened .hamburger__bar_top {
  transform: rotate(45deg);
}

.is-opened .hamburger__bar_mid {
  transform: scaleX(0.1);
}

.is-opened .hamburger__bar_bot {
  transform: rotate(-45deg);
}

/* .hamburger_main_menu {
  position: fixed;
  top: 0;
  right: 0;
  padding: 2rem;
  height: 100vh;
  width: 100%;
  background-color: white;
  z-index: 40;
} */
.hamburger_main_menu {
  position: fixed;
  top: 20px;
  right: 20px;
  padding: 0rem;
  height: 0;
  width: 0;
  background-color: white;
  z-index: 30;
  transition: all;
  transition-duration: 0.5s;
  border-bottom-left-radius: 1000px;
}

.hamburger_navigation .hamburger_nav_item {
  transition: all;
  transition-duration: 0.3s;
  opacity: 0;
  margin-left: -60px;
}
.hamburger_navigation .hamburger_nav_item_2 {
  transition-delay: 0.05s;
}
.hamburger_navigation .hamburger_nav_item_3 {
  transition-delay: 0.1s;
}
.hamburger_navigation .hamburger_nav_item_4 {
  transition-delay: 0.15s;
}
.hamburger_navigation .hamburger_nav_item_5 {
  transition-delay: 0.2s;
}

.hamburger_nav_about,
.hamburger_nav_services,
.hamburger_nav_solutions {
  width: 100vw;
  height: 100vh;
  background-color: white;
  top: 0;
  right: 0;
  z-index: 40;
  transform: translateX(1000px);
  transition: all;
  transition-duration: 0.6s;
}
/* Hamburger Menu With Animation - End */

/* ------------- Hero Section - Start ------------ */
.hero_title_text_one {
  transition: all;
  transition-duration: 0.8s;
  margin-left: -70px;
  opacity: 0;
}
.hero_title_text_two {
  transition: all;
  transition-duration: 0.8s;
  margin-right: -50px;
  opacity: 0;
}
#hero_description_text:after {
  content: "";
  animation: blink 0.7s infinite;
  color: black;
}
@keyframes blink {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
}

/* Know More - Start */
.arrow_know_more_one_animate #arrow_know_more_one_path_one {
  stroke: #ea550f;
  stroke-dasharray: 1000;
  stroke-dashoffset: -1000;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 0.5s;
}
#arrow_know_more_one_line {
  opacity: 0;
}
.arrow_know_more_one_animate #arrow_know_more_one_line {
  stroke-dasharray: 300;
  stroke-dashoffset: -300;
  animation: drawLine 2s ease forwards 1s;
  transition: all;
  transition-duration: 0.5s;
  stroke: #fff;
}

#arrow_know_more_one_path_two {
  opacity: 0;
}
.arrow_know_more_one_animate #arrow_know_more_one_path_two {
  animation: fadeInArrowHead 1s ease forwards 2s;
  transition: all;
  transition-duration: 0.5s;
  fill: #fff;
}
#arrow_know_more_one_circle {
  fill: #ea550f;
}
.arrow_know_more_one_animate #arrow_know_more_one_circle {
  transition: all;
  transition-duration: 0.3s;
}
@keyframes drawLine {
  to {
    stroke-dashoffset: 0;
    opacity: 1;
  }
}
@keyframes fadeInArrowHead {
  to {
    opacity: 1;
    /* transform: translateX(0px); */
  }
}
.know_more_one_text {
  transition: all;
  transition-duration: 0.5s;
  /* transition-delay: 1s; */
  margin-right: -20px;
  opacity: 0;
}
.know_more_one_btn:hover #arrow_know_more_one_line {
  transform: translateX(230px);
  stroke: #1c1c1c;
}
.know_more_one_btn:hover #arrow_know_more_one_path_two {
  transform: translateX(230px);
  fill: #1c1c1c;
}
.know_more_one_btn:hover #arrow_know_more_one_path_one {
  stroke: #a6c626;
}
.know_more_one_btn:hover #arrow_know_more_one_circle {
  fill: #a6c626;
}
.know_more_one_btn:hover .know_more_one_text {
  transform: translateX(12px);
}
/* Know More - End */

/* First Illustration (Social Media) - Start */
.social_media_svg_hero_rect_one {
  transition: all;
  transition-duration: 2s;
  transform: translateX(-70px);
  opacity: 0;
}
.social_media_svg_hero_animate .social_media_svg_hero_rect_one {
  transform: translateX(0px);
  opacity: 1;
}
.social_media_svg_hero_animate #social_media_svg_hero_rect_one_line_one {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 1.5s;
}
.social_media_svg_hero_animate #social_media_svg_hero_rect_one_line_two {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 2s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_one {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 2s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_two {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 3.1s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_three {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 4s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_four {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 5.2s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_five {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 6.4s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_six {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 7s;
}
.social_media_svg_hero_animate #social_media_svg_hero_graph_line_seven {
  stroke-dasharray: 64;
  stroke-dashoffset: 64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 7s;
}
#social_media_svg_hero_rect_two_text {
  transition: all;
  transition-duration: 2s;
  transition-delay: 6s;
  transform: translateX(-20px);
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_rect_two_text {
  opacity: 1;
  transform: translateX(0px);
}

.social_media_svg_hero_rect_two {
  transition: all;
  transition-duration: 2s;
  transition-delay: 1s;
  transform: translateX(-70px);
  opacity: 0;
}
.social_media_svg_hero_animate .social_media_svg_hero_rect_two {
  transform: translateX(0px);
  opacity: 1;
}

#social_media_svg_hero_one_instagram {
  transition: all;
  transition-duration: 1s;
  transition-delay: 2s;
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_one_instagram {
  opacity: 1;
}

#social_media_svg_hero_one_linkedin {
  transition: all;
  transition-duration: 1s;
  transition-delay: 2.2s;
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_one_linkedin {
  opacity: 1;
}

#social_media_svg_hero_one_youtube {
  transition: all;
  transition-duration: 1s;
  transition-delay: 2.4s;
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_one_youtube {
  opacity: 1;
}

.social_media_svg_hero_animate #social_media_svg_hero_instagram_gray {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 3s;
}
.social_media_svg_hero_animate #social_media_svg_hero_instagram_green {
  stroke-dasharray: 49;
  stroke-dashoffset: -49;
  animation: drawPath 1.5s ease-in-out forwards;
  animation-delay: 4s;
}
.social_media_svg_hero_animate #social_media_svg_hero_linkedin_gray {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 3.5s;
}
.social_media_svg_hero_animate #social_media_svg_hero_linkedin_green {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease-in-out forwards;
  animation-delay: 4.5s;
}
.social_media_svg_hero_animate #social_media_svg_hero_youtube_gray {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease forwards;
  animation-delay: 4s;
}
.social_media_svg_hero_animate #social_media_svg_hero_youtube_green {
  stroke-dasharray: 64;
  stroke-dashoffset: -64;
  animation: drawPath 1.5s ease-in-out forwards;
  animation-delay: 5s;
}
#social_media_svg_hero_instagram_text {
  transition: all;
  transition-duration: 2s;
  transition-delay: 4s;
  transform: translateX(-15px);
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_instagram_text {
  opacity: 1;
  transform: translateX(0px);
}

#social_media_svg_hero_linkedin_text {
  transition: all;
  transition-duration: 2s;
  transition-delay: 4.5s;
  transform: translateX(-15px);
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_linkedin_text {
  opacity: 1;
  transform: translateX(0px);
}

#social_media_svg_hero_youtube_text {
  transition: all;
  transition-duration: 2s;
  transition-delay: 5s;
  transform: translateX(-15px);
  opacity: 0;
}
.social_media_svg_hero_animate #social_media_svg_hero_youtube_text {
  opacity: 1;
  transform: translateX(0px);
}

#web_design_hero_rect_main {
  transition: all;
  transition-duration: 2s;
  transition-delay: 0.8s;
  transform: translateX(-90px);
  opacity: 0;
}
.web_design_svg_hero_animate #web_design_hero_rect_main {
  opacity: 1;
  transform: translateX(0px);
}

#web_design_hero_rect_green_one {
  transition: all ease-in-out;
  transition-duration: 1.5s;
  transition-delay: 1.2s;
  opacity: 0;
  width: 0;
  height: 0;
}
.web_design_svg_hero_animate #web_design_hero_rect_green_one {
  width: 111px;
  height: 109px;
  opacity: 1;
}

#web_design_hero_rect_green_two {
  transition: all ease-in-out;
  transition-duration: 2s;
  transition-delay: 2s;
  transform: scale(0, 0);
  transform-origin: center center;
  opacity: 0;
}
.web_design_svg_hero_animate #web_design_hero_rect_green_two {
  opacity: 1;
  transform: scale(1, 1);
}

#web_design_hero_circle_black {
  transition: all ease-in-out;
  transition-duration: 2s;
  transition-delay: 2s;
  transform: scale(0, 0);
  transform-origin: center center;
  opacity: 0;
}
.web_design_svg_hero_animate #web_design_hero_circle_black {
  opacity: 1;
  transform: scale(1, 1);
}

#web_design_hero_circle_orange {
  transition: all ease-in-out;
  transition-duration: 1.5s;
  transition-delay: 3.5s;
  transform: translateX(-50px);
  opacity: 0;
}
.web_design_svg_hero_animate #web_design_hero_circle_orange {
  transform: translateX(0px);
  opacity: 1;
}

/* Rect Front One */
#web_design_hero_rect_front_one {
  transition: all ease-out;
  transition-duration: 2s;
  transition-delay: 4.5s;
  opacity: 0;
  transform: translateX(-40px);
  width: 0;
  height: 160px;
}
.web_design_svg_hero_animate #web_design_hero_rect_front_one {
  opacity: 1;
  width: 90px;
  transform: translateX(0px);
}
.web_design_svg_hero_animate #web_design_hero_rect_front_one_head {
  stroke-dasharray: 199.989;
  stroke-dashoffset: -199.989;
  animation: drawPath 1.5s ease-in-out forwards;
  animation-delay: 5s;
}

#web_design_hero_rect_front_one_head_el_one {
  opacity: 0;
}
#web_design_hero_rect_front_one_head_el_two {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_btn {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_rect {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_rect_bl_tr {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_rect_br_tl {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_c_one {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_c_two {
  opacity: 0;
}
#web_design_hero_rect_front_one_body_c_three {
  opacity: 0;
}

/* Rect Front Two */
#web_design_hero_rect_front_two {
  opacity: 0;
}

@keyframes drawPath {
  to {
    stroke-dashoffset: 0;
  }
}

/* First Illustration (Social Media) - End */

/* -------------- Hero Section - End -------------- */
